In [20]:
import pandas as pd
import numpy as np

customer_info = pd.read_csv("../data/raw/test.csv")

customer_info.info()
customer_info.head()
customer_info.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25976 entries, 0 to 25975
Data columns (total 25 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         25976 non-null  int64
 1   id                                 25976 non-null  int64
 2   Gender                             25976 non-null  object
 3   Customer Type                      25976 non-null  object
 4   Age                                25976 non-null  int64
 5   Type of Travel                     25976 non-null  object
 6   Class                              25976 non-null  object
 7   Flight Distance                    25976 non-null  int64
 8   Inflight wifi service              25976 non-null  int64
 9   Departure/Arrival time convenient  25976 non-null  int64
 10  Ease of Online booking             25976 non-null  int64
 11  Gate location                      25976 non-null  int64
 12  Food and drink                     25976 non-null  int64
 13  Online boarding                    25976 non-null  int64
 14  Seat comfort                       25976 non-null  int64
 15  Inflight entertainment             25976 non-null  int64
 16  On-board service                   25976 non-null  int64
 17  Leg room service                   25976 non-null  int64
 18  Baggage handling                   25976 non-null  int64
 19  Checkin service                    25976 non-null  int64
 20  Inflight service                   25976 non-null  int64
 21  Cleanliness                        25976 non-null  int64
 22  Departure Delay in Minutes         25976 non-null  int64
 23  Arrival Delay in Minutes           25893 non-null  float64
 24  satisfaction                       25976 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 5.0+ MB

Unnamed: 0                            0
id                                    0
Gender                                0
Customer Type                         0
Age                                   0
Type of Travel                        0
Class                                 0
Flight Distance                       0
Inflight wifi service                 0
Departure/Arrival time convenient     0
Ease of Online booking                0
Gate location                         0
Food and drink                        0
Online boarding                       0
Seat comfort                          0
Inflight entertainment                0
On-board service                      0
Leg room service                      0
Baggage handling                      0
Checkin service                       0
Inflight service                      0
Cleanliness                           0
Departure Delay in Minutes            0
Arrival Delay in Minutes             83
satisfaction                          0
dtype: int64

In [21]:
customer_info.columns = (
    customer_info.columns 
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
    .str.replace("-", "_")
)

In [22]:
customer_info = customer_info.drop(columns=["unnamed:_0"])

In [23]:
customer_info = customer_info.dropna(subset=["arrival_delay_in_minutes"])

In [24]:
customer_info.to_csv("../data/processed/customer_info_cleaned.csv", index=False)

In [25]:
customer_info = pd.read_csv("../data/processed/customer_info_cleaned.csv")

customer_info.head()
customer_info.info()
customer_info.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25893 entries, 0 to 25892
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 25893 non-null  int64
 1   gender                             25893 non-null  object
 2   customer_type                      25893 non-null  object
 3   age                                25893 non-null  int64
 4   type_of_travel                     25893 non-null  object
 5   class                              25893 non-null  object
 6   flight_distance                    25893 non-null  int64
 7   inflight_wifi_service              25893 non-null  int64
 8   departure/arrival_time_convenient  25893 non-null  int64
 9   ease_of_online_booking             25893 non-null  int64
 10  gate_location                      25893 non-null  int64
 11  food_and_drink                     25893 non-null  int64
 12  online_boarding                    25893 non-null  int64
 13  seat_comfort                       25893 non-null  int64
 14  inflight_entertainment             25893 non-null  int64
 15  on_board_service                   25893 non-null  int64
 16  leg_room_service                   25893 non-null  int64
 17  baggage_handling                   25893 non-null  int64
 18  checkin_service                    25893 non-null  int64
 19  inflight_service                   25893 non-null  int64
 20  cleanliness                        25893 non-null  int64
 21  departure_delay_in_minutes         25893 non-null  int64
 22  arrival_delay_in_minutes           25893 non-null  float64
 23  satisfaction                       25893 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 4.7+ MB

id                                   0
gender                               0
customer_type                        0
age                                  0
type_of_travel                       0
class                                0
flight_distance                      0
inflight_wifi_service                0
departure/arrival_time_convenient    0
ease_of_online_booking               0
gate_location                        0
food_and_drink                       0
online_boarding                      0
seat_comfort                         0
inflight_entertainment               0
on_board_service                     0
leg_room_service                     0
baggage_handling                     0
checkin_service                      0
inflight_service                     0
cleanliness                          0
departure_delay_in_minutes           0
arrival_delay_in_minutes             0
satisfaction                         0
dtype: int64

In [26]:
import sqlite3 
import pandas as pd

conn = sqlite3.connect("../data/processed/flight_customer.db")

In [27]:
customer_info.to_sql(
    "customer_info_cleaned", 
    conn, 
    if_exists="replace" 
)

25893

In [28]:
cic = """
SELECT 
    *
FROM 
    customer_info_cleaned
"""

customer_info_cleaned = pd.read_sql(cic, conn)
customer_info_cleaned

,index,id,gender,customer_type,age,type_of_travel,class,flight_distance,inflight_wifi_service,departure/arrival_time_convenient,...,inflight_entertainment,on_board_service,leg_room_service,baggage_handling,checkin_service,inflight_service,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25888,25888,78463,Male,disloyal Customer,34,Business travel,Business,526,3,3,...,4,3,2,4,4,5,4,0,0.0,neutral or dissatisfied
25889,25889,71167,Male,Loyal Customer,23,Business travel,Business,646,4,4,...,4,4,5,5,5,5,4,0,0.0,satisfied
25890,25890,37675,Female,Loyal Customer,17,Personal Travel,Eco,828,2,5,...,2,4,3,4,5,4,2,0,0.0,neutral or dissatisfied
25891,25891,90086,Male,Loyal Customer,14,Business travel,Business,1127,3,3,...,4,3,2,5,4,5,4,0,0.0,satisfied
25892,25892,34799,Female,Loyal Customer,42,Personal Travel,Eco,264,2,5,...,1,1,2,1,1,1,1,0,0.0,neutral or dissatisfied

In [29]:
more_customers = pd.read_csv("../data/raw/train.csv")

more_customers.head()
more_customers.info()
more_customers.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 25 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0                         103904 non-null  int64
 1   id                                 103904 non-null  int64
 2   Gender                             103904 non-null  object
 3   Customer Type                      103904 non-null  object
 4   Age                                103904 non-null  int64
 5   Type of Travel                     103904 non-null  object
 6   Class                              103904 non-null  object
 7   Flight Distance                    103904 non-null  int64
 8   Inflight wifi service              103904 non-null  int64
 9   Departure/Arrival time convenient  103904 non-null  int64
 10  Ease of Online booking             103904 non-null  int64
 11  Gate location                      103904 non-null  int64
 12  Food and drink                     103904 non-null  int64
 13  Online boarding                    103904 non-null  int64
 14  Seat comfort                       103904 non-null  int64
 15  Inflight entertainment             103904 non-null  int64
 16  On-board service                   103904 non-null  int64
 17  Leg room service                   103904 non-null  int64
 18  Baggage handling                   103904 non-null  int64
 19  Checkin service                    103904 non-null  int64
 20  Inflight service                   103904 non-null  int64
 21  Cleanliness                        103904 non-null  int64
 22  Departure Delay in Minutes         103904 non-null  int64
 23  Arrival Delay in Minutes           103594 non-null  float64
 24  satisfaction                       103904 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 19.8+ MB

Unnamed: 0                             0
id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             310
satisfaction                           0
dtype: int64

In [ ]:
more_customers.columns = (
    more_customers.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
    .str.replace("-", "_"###########fasdfaf,ds[
    ,a4adfsfasdasdfasfasdfasdfadf])
)

In [31]:
more_customers = more_customers.drop(columns=["unnamed:_0"])

In [32]:
more_customers = more_customers.dropna(subset=["arrival_delay_in_minutes"])

In [33]:
more_customers.to_csv("../data/processed/more_customers_cleaned.csv", index=False)

In [34]:
more_customers = pd.read_csv("../data/processed/more_customers_cleaned.csv")

more_customers.head()
more_customers.info()
more_customers.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103594 entries, 0 to 103593
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   id                                 103594 non-null  int64
 1   gender                             103594 non-null  object
 2   customer_type                      103594 non-null  object
 3   age                                103594 non-null  int64
 4   type_of_travel                     103594 non-null  object
 5   class                              103594 non-null  object
 6   flight_distance                    103594 non-null  int64
 7   inflight_wifi_service              103594 non-null  int64
 8   departure/arrival_time_convenient  103594 non-null  int64
 9   ease_of_online_booking             103594 non-null  int64
 10  gate_location                      103594 non-null  int64
 11  food_and_drink                     103594 non-null  int64
 12  online_boarding                    103594 non-null  int64
 13  seat_comfort                       103594 non-null  int64
 14  inflight_entertainment             103594 non-null  int64
 15  on_board_service                   103594 non-null  int64
 16  leg_room_service                   103594 non-null  int64
 17  baggage_handling                   103594 non-null  int64
 18  checkin_service                    103594 non-null  int64
 19  inflight_service                   103594 non-null  int64
 20  cleanliness                        103594 non-null  int64
 21  departure_delay_in_minutes         103594 non-null  int64
 22  arrival_delay_in_minutes           103594 non-null  float64
 23  satisfaction                       103594 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 19.0+ MB

id                                   0
gender                               0
customer_type                        0
age                                  0
type_of_travel                       0
class                                0
flight_distance                      0
inflight_wifi_service                0
departure/arrival_time_convenient    0
ease_of_online_booking               0
gate_location                        0
food_and_drink                       0
online_boarding                      0
seat_comfort                         0
inflight_entertainment               0
on_board_service                     0
leg_room_service                     0
baggage_handling                     0
checkin_service                      0
inflight_service                     0
cleanliness                          0
departure_delay_in_minutes           0
arrival_delay_in_minutes             0
satisfaction                         0
dtype: int64

In [35]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("../data/processed/flight_customer.db")

In [36]:
more_customers.to_sql(
    "more_customers_cleaned",
    conn, 
    if_exists="replace"
)

103594

In [37]:
mcc = """
SELECT
    *
FROM 
    more_customers_cleaned
"""

more_customers_cleaned = pd.read_sql(mcc, conn)
more_customers_cleaned

,index,id,gender,customer_type,age,type_of_travel,class,flight_distance,inflight_wifi_service,departure/arrival_time_convenient,...,inflight_entertainment,on_board_service,leg_room_service,baggage_handling,checkin_service,inflight_service,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103589,103589,94171,Female,disloyal Customer,23,Business travel,Eco,192,2,1,...,2,3,1,4,2,3,2,3,0.0,neutral or dissatisfied
103590,103590,73097,Male,Loyal Customer,49,Business travel,Business,2347,4,4,...,5,5,5,5,5,5,4,0,0.0,satisfied
103591,103591,68825,Male,disloyal Customer,30,Business travel,Business,1995,1,1,...,4,3,2,4,5,5,4,7,14.0,neutral or dissatisfied
103592,103592,54173,Female,disloyal Customer,22,Business travel,Eco,1000,1,1,...,1,4,5,1,5,4,1,0,0.0,neutral or dissatisfied
103593,103593,62567,Male,Loyal Customer,27,Business travel,Business,1723,1,3,...,1,1,1,4,4,3,1,0,0.0,neutral or dissatisfied